:host {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

#display {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  grid-area: 1 / 1 / -1 / -1;
  align-content: start;
  align-items: center;
  column-gap: var(--vari-bio-space, .55ch);
  row-gap: var(--vari-bio-leading, .14ex);
  transition: var(--vari-bio-duration, 0) ease;
}

#display span {
  box-sizing: border-box;
  background: var(--vari-bio-background);
  height: var(--vari-bio-height, 3ex);
  border-radius: var(--vari-bio-radius);
  transition: var(--vari-bio-duration, 0) ease;
}

:host([debug]) #display {
  filter: opacity(20%);
}

::slotted(*) {
  grid-area: 1 / 1 / -1 / -1;
  opacity: 0;
}
